VITE_FIREBASE_API_KEY=AIzaSyBNQ02armJKLOCTuVUYEk283PoRHY0BSzk
VITE_FIREBASE_AUTH_DOMAIN=shushrutai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=shushrutai
VITE_FIREBASE_STORAGE_BUCKET=shushrutai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=642723593444
VITE_FIREBASE_APP_ID=1:642723593444:web:bc1d7f2c8727cfe23500f1
VITE_CLOUDINARY_CLOUD_NAME=dqi7b98xx
VITE_CLOUDINARY_UPLOAD_PRESET=shushrut_preset
VITE_BACKEND_URL=https://your-backend.vercel.app/api
VITE_PYTHON_URL=https://your-python-backend.onrender.com
