# Virtual environment
venv/
.venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build / distribution
build/
dist/
*.egg-info/
